      <div class="cate">
          <div class="category text-center">
            <%= link_to gyms_path(q: {categories_id_in: "1" }) do %>
                <div class="cate-img1"></div>
                <p class="cate-p">スポーツジム</p>
            <% end %>
          </div>
      </div>
      <div class="cate">
          <div class="category text-center">
            <%= link_to gyms_path(q: {categories_id_in: "2" }) do %>
                <div class="cate-img2"></div>
                <p class="cate-p">ヨガ</p>
            <% end %>
          </div>
      </div>
      <div class="cate">
          <div class="category text-center">
            <%= link_to gyms_path(q: {categories_id_in: "3" }) do %>
                <div class="cate-img3"></div>
                <p class="cate-p">スイミング</p>
            <% end %>
          </div>
      </div>
      <div class="cate">
          <div class="category text-center">
            <%= link_to gyms_path(q: {categories_id_in: "4" }) do %>
                <div class="cate-img4"></div>
                <p class="cate-p">ゴルフ</p>
            <% end %>
          </div>
      </div>
      <div class="cate">
          <div class="category text-center">
            <%= link_to gyms_path(q: {categories_id_in: "5" }) do %>
                <div class="cate-img5"></div>
                <p class="cate-p">格闘技</p>
            <% end %>
          </div>
      </div>