      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/1">
              <%= image_tag "spots_gym.jpeg" %>
            </a>
          </div>
        </div>
      </div>
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/2">
              <%= image_tag "yoga.jpg" %>
            </a>
          </div>
        </div>
      </div>
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/3">
              <%= image_tag "swimming.jpg" %>
            </a>
          </div>
        </div>
      </div>
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/4">
              <%= image_tag "golf.jpeg" %>
            </a>
          </div>
        </div>
      </div>
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/5">
              <%= image_tag "kakutougi.jpg" %>
            </a>
          </div>
        </div>
      </div>