<div class="top">
  <div id="home-top">
    <%= image_tag("home1.jpg", class: "active") %>
    <%= image_tag("home2.jpg") %>
    <%= image_tag("home3.jpg") %>
    <%= image_tag("home5.jpg") %>
  </div>
  <script type="text/javascript">
    function slideSwitch() {
      var $active = $('#home-top img.active');

      if ( $active.length == 0 ) $active = $('#home-top img:last');

      var $next =  $active.next().length ? $active.next()
          : $('#home-top img:first');

      $active.addClass('last-active');

      $next.css({opacity: 0.0})
          .addClass('active')
          .animate({opacity: 1.0}, 1000, function() {
              $active.removeClass('active last-active');
          });
    }

    $(function() {
      setInterval( "slideSwitch()", 5000 );
    });
  </script>
  <div class="home-gra"></div>
  <div class="home-box">
  <h2>あなたの街で理想のパーソナルトレーナーが見つかる</h2>
  <div class="home-form">
    <%= search_form_for(@q, url:gyms_path) do |f| %>
      <%
=begin%>
 <%
  =begin%>
  <%= f.collection_select :district_id_eq, @districts, :id, :name, include_blank: true %>
      <%= f.collection_select :categories_id_in, @categories, :id, :name, include_blank: true %> 
  <%
  =end%> 
<%
=end%>
      <p>自分の住んでいる地域から理想のジムを探すことができ、それぞれのジムで活躍しているトレーナーを探せます。</p>
      <%= f.text_field :name_or_title_or_content_or_address_or_categories_name_cont, class: "home-fbox" %>
      <%= f.submit "検索", class: "home-fbtn" %>
    <% end %>
    </div>
  </div>
</div>
<div class="container">
    <h2 class="heading">人気のカテゴリー</h2>
  <div class="row justify-content-center">
    <%= render 'static_pages/cate' %>
  </div>
    <h2 class="heading">新しくできたジム</h2>
    <div class="row justify-content-center">
      <% @gyms.each do |gym| %>
        <div class="new-gym col-lg-6">
        <a href="/gyms/<%= gym.id %>"></a>
          <div class="new-gyms-left">
              <%= image_tag(gym.image.url) %>
          </div>
          <div clsss="new-gyms-right">
            <div class="new-gyms-title">
              <p class="district-name"><%= gym.district.name unless gym.district.nil?%></p>
              <p><%= time_ago_in_words(gym.created_at) %>前に掲載！</p>
              <h6><%= gym.name %></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div style="text-align: right;"><a href="/gyms">ジム一覧へ</a></div>
</div>

<div class="tra-img">
</div>

<div class="container">
  <div class="swiper-">
    <div class="swiper-container">
      <h2 class="heading">評価の高いトレーナー</h2>
      <div class="swiper-wrapper">
        <% @trainers.each do |trainer| %>
          <div class="swiper-slide">
            <div class="slide-item">
              <div class="slide-top">
                <div class="slide-left">
                  <a href="/trainers/<%= trainer.id %>"><%= image_tag (trainer.image.url) %></a>
                </div>
                <div class="slide-right">
                  <h6><%= link_to trainer.name, trainer_path(trainer) %></h6>
                    <p id="star-ave<%= trainer.id %>"></p>
                        <script>
                        $('#star-ave<%= trainer.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= trainer.comments.average(:rate).to_f.round(1) %>,
                          });
                        </script>
                    <p>(<%= trainer.comments.count %>)</p></br>
                    <% trainer.trainer_categories.each do |tra| %>
                      <li class="tras-cate"><%= link_to tra.category.name, trainers_path(q: {categories_id_in: tra.category_id }) unless tra.category.nil? %></li>
                    <% end %>
                </div>
              </div><!--slide-top-->
              <div class="slide-middle">
                <% if trainer.title.length > 40 %>
                  <p class="read"><%= trainer.title %></p>
                <% else %>
                  <p><%= trainer.title %></p>
                <% end %>
                <script>
                  $(function () {
                    $('.read').readmore({
                    speed: 100,
                    collapsedHeight: 45,
                    moreLink: '<a href="#">続きを読む</a>',
                    lessLink: '<a href="#">閉じる</a>'
                    });
                  });
                </script>
              </div>
              <div class="slide-bottom">
                <% trainer.comments.reverse.first(1).each do |comment| %>
                  <div id="star-rate-<%= comment.id %>"></div>
                    <% if comment.content.length > 40 %>
                      <p class="read"><%= comment.content %></p>
                    <% else %>
                      <p><%= comment.content %></p>
                    <% end %>
                    <script>
                      $('#star-rate-<%= comment.id %>').raty({
                      size: 30,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= comment.rate %>,
                      });
                    </script>
                  <div class="profile">
                    <p> (<%= sex(comment.user.sex) %></p>
                    <p><%= age(comment.user.age) %>)</p>
                    <p><%= comment.created_at.strftime("%Y-%m-%d") %></p>
                  </div>
                <% end %>
                <div class="tras-like">
                  <% if user_signed_in? %>
                    <% if current_user.already_liked?(trainer) %>
                      <%= link_to trainer_like_path(trainer, trainer), method: :delete, remote: :true do %>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;">
                          <%= trainer.likes.count %> 
                        </i>
                      <% end %>
                    <% else %>
                      <%= link_to trainer_likes_path(trainer, trainer), method: :post, remote: :true do %>
                        <i class="fa fa-heart" aria-hidden="true" style="color: #C0C0C0;">
                          <%= trainer.likes.count %> 
                        </i>
                      <% end %>
                    <% end %>
                  <% else %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;">
                      <%= trainer.likes.count %>
                    </i>
                  <% end %>
                </div>
              </div><!--slide-bottom-->
            </div><!--slide-item-->
          </div><!--swiper-slide-->
        <% end %>
      </div><!--swiper-wrapper-->
	  </div><!--swiper-container-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div><!--swiper-->
  <div style="text-align: right;"><a href="/trainers">トレーナー一覧へ</a></div>
</div>

<script>
var mySwiper = new Swiper('.swiper-container', {
  slidesPerView: 3,
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  //   breakpoints: {
  //   400: {
  //     slidesPerView: 1,
  //   },
  //   750: {
  //     slidesPerView: 1.9,
  //   },
  //   995: {
  //     slidesPerView: 3,
  //   }
  // },
  centeredSlides : true,
  loop: true,
	autoplay: {
		delay: 10000,
		stopOnLastSlide: false,
		disableOnInteraction: false,
    reverseDirection: false,
    centeredSlides : true
	}
});
</script>