<div class="home-top">
  <img src="https://picsum.photos/900/400">
</div>
<div class="container">
  <div class="categories">
    <h2 class="heading">人気のカテゴリー</h2>
      <ul>
        <li><a href="/categories/1"><%= image_tag "spots_gym.jpeg" %></a><p>スポーツジム</p></li>
        <li><a href="/categories/2"><%= image_tag "yoga.jpg" %></a><p>ヨガ</p></li>
        <li><a href="/categories/3"><%= image_tag "swimming.jpg" %></a><p>スイミング</p></li>
        <li><a href="/categories/4"><%= image_tag "golf.jpeg" %></a><p>ゴルフ</p></li>
        <li><a href="/categories/5"><%= image_tag "kakutougi.jpg" %></a><p>格闘技</p></li>
      </ul>
      <a href="/categories" class="cate-tag">カテゴリー一覧へ</a>
  </div>
  <div class="new-gyms">
    <h2 class="heading">新しくできたジム</h2>
    <div class="new-gyms-wrapper">
      <% @gyms.each do |gym| %>
          <a href="/gyms/<%= gym.id %>" class="new-gyms-item"> 
            <div class="new-gyms-left">
                <%= image_tag(gym.image.url) %>
            </div>
            <h5 class="new-gyms-title"><%= gym.name %></h5>
            <div class="new-gyms-time">
              <p><%= time_ago_in_words(gym.created_at) %>前に掲載</p>
              </div>
          </a>
      <% end %>
      <a href="/gyms" class="cate-tag">ジム一覧へ</a>
    </div>
</div>


<!-- Swiper START -->
<div class="swiper-container">
  <h2 class="heading">評価の高いトレーナー</h2>
	<div class="swiper-wrapper">
		<!-- 各スライド -->
		<div class="swiper-slide">Slide 1</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 3</div>
		<div class="swiper-slide">Slide 4</div>
    	<div class="swiper-slide">Slide 5</div>
      	<div class="swiper-slide">Slide 6</div>
        		<div class="swiper-slide">Slide 7</div>
		<div class="swiper-slide">Slide 8</div>
		<div class="swiper-slide">Slide 9</div>
		<div class="swiper-slide">Slide 10</div>
	</div>
</div>
<!-- Swiper END -->
<script>
var mySwiper = new Swiper('.swiper-container', {
	slidesPerView: 5,
  loop: true,
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev'
	},
	autoplay: {
		delay: 3000,
		stopOnLastSlide: false,
		disableOnInteraction: false,
		reverseDirection: false
	},
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev'
	},
	pagination: {
		el: '.swiper-pagination',
		type: 'bullets',
		clickable: true
	}
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js">