<div class="home-top">
  <img src="https://picsum.photos/900/400">
  <%= search_form_for(@q, url:gyms_path) do |f| %>
    <%= f.collection_select :district_id_eq, @districts, :id, :name, include_blank: true %>
    <%= f.collection_select :categories_id_in, @categories, :id, :name, include_blank: true %>
    <%= f.search_field :name_or_title_or_content_or_address_or_categories_name_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="container">
    <h2 class="heading">人気のカテゴリー</h2>
  <div class="row justify-content-center">
    <%= render 'static_pages/cate' %>
  </div>
    <h2 class="heading">新しくできたジム</h2>
    <div class="row justify-content-center">
      <% @gyms.each do |gym| %>
        <div class="gym">
          <div class="col-md-6 col-sm-12">
            <a href="/gyms/<%= gym.id %>" class="new-gyms-item"> 
              <div class="new-gyms-left">
                <%= image_tag(gym.image.url) %>
              </div>
              <h5 class="new-gyms-title"><%= gym.name %></h5>
              <div class="new-gyms-time">
                <p><%= time_ago_in_words(gym.created_at) %>前に掲載</p>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  <a href="/gyms" class="cate-tag">ジム一覧へ</a>

  <div class="swiper-container">
    <h2 class="heading">評価の高いトレーナー</h2>
    <div class="swiper-wrapper">
      <% @trainers.each do |trainer| %>
        <div class="swiper-slide ">
          <div class="slide-item">
            <div class="slide-top">
              <div class="slide-left">
                <a href="/trainers/<%= trainer.id %>"><%= image_tag (trainer.image.url) %></a>
              </div>
              <div class="slide-right">
                <h6><%= link_to trainer.name, trainer_path(trainer) %></h6>
                   <p id="star-ave<%= trainer.id %>"></p>
                      <script>
                      $('#star-ave<%= trainer.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= trainer.comments.average(:rate).to_f.round(1) %>,
                        });
                      </script>
                  <p>(<%= trainer.comments.count %>)</p>
                  <% trainer.trainer_categories.each do |tra| %>
                  <p><%= tra.category.name %></p>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
	</div>
  
</div>
<!-- Swiper END -->
<script>
var mySwiper = new Swiper('.swiper-container', {
  slidesPerView: 1.5,
    breakpoints: {
    400: {
      slidesPerView: 1.5,
    },
    768: {
      slidesPerView: 2.5,
    },
    980: {
      slidesPerView: 3.5,
    },
    1200: {
      slidesPerView: 4.5,
    }
  },
  centeredSlides : true,
  spaceBetween: 10,
  loop: true,
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev'
	},
	autoplay: {
		delay: 3000,
		stopOnLastSlide: false,
		disableOnInteraction: false,
		reverseDirection: false
	},
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev'
	},
	pagination: {
		el: '.swiper-pagination',
		type: 'bullets',
		clickable: true
	}
});
</script>
