<div class="home-top">
  <img src="https://picsum.photos/900/400">
</div>
<div class="container">
    <h2 class="heading">人気のカテゴリー</h2>
  <div class="row justify-content-center">
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/1">
              <%= image_tag "spots_gym.jpeg" %>
            </a>
          </div>
        </div>
      </div>
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/2">
              <%= image_tag "yoga.jpg" %>
            </a>
          </div>
        </div>
      </div>
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/3">
              <%= image_tag "swimming.jpg" %>
            </a>
          </div>
        </div>
      </div>
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/4">
              <%= image_tag "golf.jpeg" %>
            </a>
          </div>
        </div>
      </div>
      <div class="cate">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <div class="category text-center">
            <a href="/categories/5">
              <%= image_tag "kakutougi.jpg" %>
            </a>
          </div>
        </div>
      </div>
  </div>
    <h2 class="heading">新しくできたジム</h2>
    <div class="row justify-content-center">
      <% @gyms.each do |gym| %>
        <div class="gym">
          <div class="col-md-6 col-sm-12">
            <a href="/gyms/<%= gym.id %>" class="new-gyms-item"> 
              <div class="new-gyms-left">
                  <%= image_tag(gym.image.url) %>
              </div>
              <h5 class="new-gyms-title"><%= gym.name %></h5>
              <div class="new-gyms-time">
                <p><%= time_ago_in_words(gym.created_at) %>前に掲載</p>
                </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  <a href="/gyms" class="cate-tag">ジム一覧へ</a>

  <div class="swiper-container">
    <h2 class="heading">評価の高いトレーナー</h2>
    <div class="swiper-wrapper">
      <% @trainers.each do |trainer| %>
        <div class="swiper-slide ">
          <div class="slide-item">
            <div class="slide-top">
                <div class="slide-left">
                  <a href="/trainers/<%= trainer.id %>"><%= image_tag (trainer.image.url) %></a>>
                </div>
                <div class="slide-right">
                  <h6><%= link_to trainer.name, trainer_path(trainer) %></h6>
                    <% trainer.trainer_categories.each do |tra| %>
                    <p><%= link_to tra.category.name, category_path(tra.category) %></p>
                    <% end %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
	</div>
  
</div>
<!-- Swiper END -->
<script>
var mySwiper = new Swiper('.swiper-container', {
  slidesPerView: 1.5,
    breakpoints: {
    // 768px以上の場合
    400: {
      slidesPerView: 2.5,
    },
    768: {
      slidesPerView: 3.5,
    },
    // 980px以上の場合
    980: {
      slidesPerView: 4.5,
    },
    // 1200px以上の場合
    1200: {
      slidesPerView: 5.5,
    }
  },
  centeredSlides : true,
  spaceBetween: 10,
  loop: true,
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev'
	},
	autoplay: {
		delay: 3000,
		stopOnLastSlide: false,
		disableOnInteraction: false,
		reverseDirection: false
	},
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev'
	},
	pagination: {
		el: '.swiper-pagination',
		type: 'bullets',
		clickable: true
	}
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js">