<div class="container">
    <div class="user-profile">
        <div class="user-img">
            <%= image_tag(@user.image_name.url) %>
        </div>
        <div class="user-profile">
            <h4><%= @user.name %></h4>
            <p><%= @user.email %></p>
            <div class="home-profile">
                <p class="inline-block"><%= sex(@user.sex) %>：</p>
                <p class="inline-block"><%= age(@user.age) %></p>
            </div>
            <%= link_to "プロフィールを編集する", edit_user_registration_url(@user), class: 'btn btn-light'%>
        </div>
    </div>
    <div class='tabs'>
        <div class='user-tab-buttons'>
            <span class='content1'>口コミ</span>
            <span class='content2'>お気に入り</span>
            <div id='user-lamp' class='content1'></div>
        </div>
        <div class='tab-content'>
            
            <div class='content1'>
                <% @comments.each do |comment| %>
                <div class="row comment-">
                    <div class="col-md-2 comment-icon">
                        <%= image_tag(comment.user.image_name.url) unless comment.user.blank?%>
                        <h6><%= comment.user.name unless comment.user.blank? %></h6>
                    </div>
                    <div class="col-md-6 comment-content">
                        <div id="star-rate-<%= comment.id %>">評価　</div>
                        <h5><%= comment.title %></h5>
                        <p><%= comment.content %></p>
                        <% if user_signed_in? && comment.user == current_user %>
                        <div class="comment-li">
                            <p><%= link_to '削除', user_comment_path(@user, comment), method: :delete %></p>
                            <p>/</p>
                            <p><%= link_to '編集', edit_user_comment_path(@user, comment) %></p>
                        </div>
                        <% end %>
                    </div>
                          <script>
                            $('#star-rate-<%= comment.id %>').raty({
                              size: 36,
                              starOff:  '<%= asset_path('star-off.png') %>',
                              starOn : '<%= asset_path('star-on.png') %>',
                              starHalf: '<%= asset_path('star-half.png') %>',
                              half: true,
                              readOnly: true,
                              score: <%= comment.rate %>,
                              });
                          </script>

                    <div class="col-md-4 comment-info text-center">
                        <% if comment.gym_id.nil? %>
                            <%= link_to trainer_path(comment.trainer) do%>
                                <%= image_tag(comment.trainer.image.url, {class: "trainer-img"})%>
                                <p><%= comment.trainer.name %></p>
                            <%end%>
                        <%else%>
                            <%= link_to gym_path(comment.gym) do %>
                                <%= image_tag(comment.gym.image.url, {class: "gym-img"}) %>
                                <p><%= comment.gym.name %></p>
                            <%end%>
                        <%end%>
                        <div class="new-gyms-time">
                        <p><%= comment.created_at.strftime("%Y-%m-%d") %></p>
                    </div>
                    </div>
                    </div>
                <% end %>
                <p><%= @user.comments.count %>件の口コミが表示されています。</p>
                <%= paginate @comments %>
            </div><!--content1-->
            
            <div class='content2'>
                <div class="row justify-content-center">
                    <% @trainers.each do |trainer|%>
                        <div class="trainer">
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="tras-item">
                                    <div class="tras-top">
                                        <div class="tras-left">
                                            <a href="/trainers/<%= trainer.id %>"><%= image_tag (trainer.image.url) %></a>
                                        </div>
                                        <div class="tras-right">
                                            <h6><%= link_to trainer.name, trainer_path(trainer) %></h6>
                                            <p id="star-ave<%= trainer.id %>"></p>
                                                <script>
                                                $('#star-ave<%= trainer.id %>').raty({
                                                size: 36,
                                                starOff:  '<%= asset_path('star-off.png') %>',
                                                starOn : '<%= asset_path('star-on.png') %>',
                                                starHalf: '<%= asset_path('star-half.png') %>',
                                                half: true,
                                                readOnly: true,
                                                score: <%= trainer.comments.average(:rate).to_f.round(1) %>,
                                                });
                                                </script>
                                            <p>(口コミ<%= trainer.comments.count %>件)</p>
                                            <% trainer.trainer_categories.each do |tra| %>
                                                <p><%= tra.category.name %></p>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="tras-middle">
                                        <p><%= trainer.title %></p>
                                    </div>
                                    <div class="tras-bottom">
                                        <% trainer.comments.reverse.first(1).each do |comment| %>
                                            <div id="star-rate-<%= comment.id %>"></div>
                                            <p><%= comment.title %></p>
                                                <script>
                                                    $('#star-rate-<%= comment.id %>').raty({
                                                    size: 30,
                                                    starOff:  '<%= asset_path('star-off.png') %>',
                                                    starOn : '<%= asset_path('star-on.png') %>',
                                                    starHalf: '<%= asset_path('star-half.png') %>',
                                                    half: true,
                                                    readOnly: true,
                                                    score: <%= comment.rate %>,
                                                    });
                                                </script>
                                        <% end %>
                                    </div>
                                <div class="tras-like">
                                        <% if current_user.already_liked?(trainer) %>
                                            <%= link_to trainer_like_path(trainer, trainer), method: :delete, remote: :true do %>
                                            <i class="fa fa-heart" aria-hidden="true" style="color: red;">
                                                <%= trainer.likes.count %> 
                                            </i>
                                            <% end %>
                                        <% else %>
                                            <%= link_to trainer_likes_path(trainer, trainer), method: :post, remote: :true do %>
                                            <i class="fa fa-heart" aria-hidden="true" style="color: #C0C0C0;">
                                                <%= trainer.likes.count %> 
                                            </i>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div><!--tras-item-->
                            </div><!--col-->
                        </div><!--trainer-->
                    <% end %>
                </div><!--row-->
                <%= paginate @trainers %>
            </div><!--content2-->
        </div><!--tab-content-->
    </div><!--tabs-->

    <div class='credit'>
    </div>
    
</div><!--container-->

<script>
$('.tab-content>div').hide();
$('.tab-content>div').first().slideDown();
  $('.user-tab-buttons span').click(function(){
    var thisclass=$(this).attr('class');
    $('#user-lamp').removeClass().addClass('#user-lamp').addClass(thisclass);
    $('.tab-content>div').each(function(){
      if($(this).hasClass(thisclass)){
        $(this).fadeIn(800);
      }
      else{
        $(this).hide();
      }
    });
  });
</script>