<div class="container">
<div class="gyms-contents">
    <aside class="gyms-side">
        <div class="side-ransack">
            <%= search_form_for @q do |f| %>
                <%= f.label :name, "キーワード" %>
                <%= f.search_field :name_or_title_or_content_or_address_cont %>
                <%= f.label :district_id_eq, "エリア" %>
                <%= f.collection_select :district_id_eq, @districts, :id, :name, include_blank: true %>
                <%= f.label :categories_id_in, "カテゴリー" %>
                <%= f.collection_check_boxes :categories_id_in, @categories, :id, :name %>
                <%= f.label :price %>
                <%= f.number_field :price_gteq %>円以上〜
                <%= f.number_field :price_lt %>円未満
                <!--ここまで追加-->
                <%= f.submit "検索" %>
            <% end %>
        </div>
    </aside>


    <div class="gyms-items">
        <% @gyms.each do |gym|%>
            <div class="gyms-item">
                <div class="gyms-title">
                    <h5><%= link_to gym.name, gym_path(gym) %> </h5>
                </div>
                <div class=gyms-box>
                    <div class="gyms-left">
                        <a href="/gyms/<%= gym.id %>"><%= image_tag (gym.image.url) %></a>
                    </div>
                        <p id="star-ave<%= gym.id %>">評価</p> 
                        <script>
                        $('#star-ave<%= gym.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= gym.comments.average(:rate).to_f.round(1) %>,
                        });
                        </script>
                    <div class="gyms-right">
                        <p><%= gym.address %></p>
                        <p><%= gym.title %></p>
                        <p><%= gym.number %></p>
                        <% gym.gym_categories.each do |g| %>
                            <p><%= link_to g.category.name, category_path(g.category)  %></p>
                        <%end%>
                    </div>
                </div>
            </div>
        <% end %>
        <%= paginate @gyms %>
    </div>
    </div>
</div>