<div class="container">
    <div class="gym-title">
        <h3><%= @gym.name %></h3>
        <p><%= @gym.title %></p>
        <p><%= @gym.number %></p>
    </div>
    <%= render 'gyms/gyms-nav' %>
    <div class="gym-content">
        <%= @gym.content %>
    </div>
    
    <% @gym.gym_categories.each do |gym| %>
    <%= gym.category.name %>
    <%end%>

</div>