<div class="container">
  <div class="gym-wrapper">
    <div class="gym-right">
      <h3><%= @gym.name %></h3>
      <p><%= @gym.title %></p>
      <i class="fa fa-phone" aria-hidden="true" style="color: #0080ff;" ></i> <%=@gym.number%>
      <p id="star-ave">評価</p> 
      <script>
      $('#star-ave').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @gym.comments.average(:rate).to_f.round(1) %>,
        });
      </script>
      <% @gym.gym_categories.each do |gym|%>
        <p><%= gym.category.name %></p>
      <% end %>
    </div>
    <div class="gym-left">
      <%= image_tag(@gym.image.url) %>
    </div>
  </div>


<div class='tabs'>
  <div class='tab-buttons'>
    <span class='content1'>ホーム</span>
    <span class='content2'>写真</span>
    <span class='content3'>口コミ</span>
    <span class='content4'>地図</span>
    <div id='lamp' class='content1'></div>
  </div>
  <div class='tab-content'>
    
    <div class='content1'>
      <div class="gym-content">
          <%= @gym.content %>
      </div>
    </div>
    
    <div class='content2'>
      <% @gym.item_images.each do |item_image| %>
          <ul class="items-item">
              <%= link_to item_image.image.url, 'data-lightbox': item_image.image do %>
                <li><%= image_tag item_image.image.url  if item_image.image? %></li>
              <%end%>
          </ul>
      <%end%>
    </div>
    
    <div class='content3'>
      <div class="comment-wrapper border-top mb-10">
        <p class="mt-5">コメント一覧</p>
          <% if @comments.present? %>
            <% @comments.each do |c| %>
              <div>
                <div>
                  <%= c.user.name unless c.user.blank? %>
                    <br />
                    <%= c.content %>
                    <% if user_signed_in? && c.user == current_user %>
                      <p><%= link_to '削除', gym_comment_path(@gym, c), method: :delete %></p>
                      <p><%= link_to '編集', edit_gym_comment_path(@gym, c) %></p>
                    <% end %>
                        <div id="star-rate-<%= c.id %>">
                        </div>
                          <script>
                            $('#star-rate-<%= c.id %>').raty({
                              size: 36,
                              starOff:  '<%= asset_path('star-off.png') %>',
                              starOn : '<%= asset_path('star-on.png') %>',
                              starHalf: '<%= asset_path('star-half.png') %>',
                              half: true,
                              readOnly: true,
                              score: <%= c.rate %>,
                              });
                          </script>
                </div>                                                    
              </div>
              <br />
            <% end %>
          <%end%>
            <% if user_signed_in? %>
              <%= form_with(model: [@gym, @comment], local: true, remote: true) do |f| %>
              <%= f.text_area :content, class: "form-control", rows: 5 %>
              <div class="form-group" id="star">
                <%= f.label :rate,'評価' %>
                <%= f.hidden_field :rate, id: :comment_star %>
              </div>

              <script>
                $('#star').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'comment[rate]',
                  half: true,
                  });
              </script>

              <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
                <i class="far fa-comments"></i> コメントする
              <% end %>
              <% end %>
            <% end %>
      </div>
</div>
    <div class='content4'>
    </div>
      
  </div>

    <div class='credit'>
      
    </div>

</div>




<script type="text/javascript">
$('.tab-content>div').hide();
$('.tab-content>div').first().slideDown();
  $('.tab-buttons span').click(function(){
    var thisclass=$(this).attr('class');
    $('#lamp').removeClass().addClass('#lamp').addClass(thisclass);
    $('.tab-content>div').each(function(){
      if($(this).hasClass(thisclass)){
        $(this).fadeIn(800);
      }
      else{
        $(this).hide();
      }
    });
  });
</script>
