<div class="container">

  <div class="gym-wrapper">
    <div class="row">
      <div class="col-md-6 col-xs-12 gym-right">
        <h3><%= @gym.name %></h3>
        <div class="gym-rate">
          <p id="star-ave">評価　</p>
          <p>(口コミ数<%= @gym.comments.count %>)</p>
        </div>
        <script>
        $('#star-ave').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @gym.comments.average(:rate).to_f.round(1) %>,
          });
        </script>
        <p><%= @gym.title %></p>
        <% if @gym.number? %>
          <i class="fa fa-phone" aria-hidden="true" style="color: #0080ff;" ></i>
          <%= @gym.number %></br>
        <%end%>
        <% @gym.gym_categories.each do |g|%>
          <%= link_to g.category.name, gyms_path(q: {categories_id_in: g.category_id }), {class: "gyms-content"} %>
        <% end %>
      </div>
      <div class="col-md-6 col-xs-12 gym-left">
        <%= image_tag(@gym.image.url, class: "img-fluid img-thumbnail") %>
      </div>
    </div>
  </div>


<div class='tabs'>
  <div class='tab-buttons'>
    <span class='content1'>ホーム</span>
    <span class='content2'>写真</span>
    <span class='content3'>口コミ</span>
    <span class='content4'>地図</span>
    <div id='lamp' class='content1'></div>
  </div>
  <div class='tab-content'>
    
    <div class='content1'>
      <div class="gym-content">
        <% text = @gym.content %>
        <%= markdown(text).html_safe %>
      </div>
    </div>
    
    <div class='content2'>
      <div class="contain">
        <% @gym.item_images.each do |item_image| %>
            <div class="items-item">
              <div class="real">
                <%= link_to item_image.image.url, 'data-lightbox': item_image.image do %>
                  <%= image_tag item_image.image.url  if item_image.image? %>
                <%end%>
              </div>
            </div>
        <%end%>
      </div>
    </div>
    
    <div class='content3'>
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <div class="row comment-">
            <div class="col-md-2 comment-icon">
              <%= image_tag(comment.user.image_name.url) unless comment.user.blank?%>
              <h6><%= comment.user.name unless comment.user.blank? %></h6>
            </div>
            <div class="col-md-10 comment-content">
              <div id="star-rate-<%= comment.id %>">評価　</div>
              <h5><%= comment.title %></h5>
              <p><%= comment.content %></p>
            </div>
            <% if user_signed_in? && comment.user == current_user %>
              <div class="comment-li">
                <p><%= link_to '削除', gym_comment_path(@gym, comment), method: :delete %></p>
                <p>/</p>
                <p><%= link_to '編集', edit_gym_comment_path(@gym, comment) %></p>
              </div>
            <% end %>
            <div class="new-gyms-time">
              <p><%= comment.created_at %></p>
            </div>
              <script>
                $('#star-rate-<%= comment.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= comment.rate %>,
                });
              </script>
            
          </div><!--row-comment---->
        <% end %>
      <% end %>
      <%= paginate @comments %>
            <% if user_signed_in? %>
              <%= form_with(model: [@gym, @comment], local: true, remote: true) do |f| %>
              <div class="form-group">
                <%= f.label :title, "タイトル" %>
                <%= f.text_area :title, class: "form-control", rows: 1 %>
              </div>

              <div class="form-group">
                <%= f.label :content, "内容" %>
                <%= f.text_area :content, class: "form-control", rows: 5 %>
              </div>

              <div class="form-group" id="star">
                <%= f.label :rate,'評価' %>
                <%= f.hidden_field :rate, id: :comment_star %>
              </div>

              <script>
                $('#star').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'comment[rate]',
                  half: true,
                  });
              </script>

              <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
                <i class="far fa-comments"></i> コメントする
              <% end %>
              <% end %>
            <% end %>
    </div><!--content3-->

    <div class='content4'>
    </div>
      
  </div><!--tab-content-->
</div><!--tabs-->
  <div class='credit'>
  </div>

</div><!--container-->


<script>
$('.tab-content>div').hide();
$('.tab-content>div').first().slideDown();
  $('.tab-buttons span').click(function(){
    var thisclass=$(this).attr('class');
    $('#lamp').removeClass().addClass('#lamp').addClass(thisclass);
    $('.tab-content>div').each(function(){
      if($(this).hasClass(thisclass)){
        $(this).fadeIn(800);
      }
      else{
        $(this).hide();
      }
    });
  });
</script>
