<div class="container">
    <h3><%= @category.name %></h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-expanded="true">
                ジム</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile">
                トレーナー</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="1-tab">
                <div class="gyms-items">
                    <% @category.gym_categories.each do |categ|%>
                            <div class="gyms-item">
                                <div class="gyms-title">
                                    <h5><%= link_to categ.gym.name, gym_path(categ.gym) %> </h5>
                                </div>
                                <div class=gyms-box>
                                    <div class="gyms-left">
                                        <a href="/gyms/<%= categ.gym.id %>"><%= image_tag (categ.gym.image.url) %></a>
                                    </div>
                                    <div class="gyms-right">
                                        <p><%= categ.gym.address %></p>
                                        <p><%= categ.gym.title %></p>
                                        <p><%= categ.gym.number %></p>
                                        <% gym = categ.gym %>
                                        <% gym.gym_categories.each do |g| %>
                                        <p><%= link_to g.category.name, category_path(g.category)  %></p>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="2-tab">
                <div class="tras-items">
                    <% @category.trainer_categories.each do |catet|%>
                        <div class="tras-item">
                            <div class="tras-box">
                                <div class="tras-top">
                                    <div class="tras-left">
                                        <a href="/trainers/<%= catet.trainer.id %>"><%= image_tag (catet.trainer.image.url) %></a>
                                    </div>
                                    <div class="tras-right">
                                        <h6><%= link_to catet.trainer.name, trainer_path(catet.trainer) %></h6>
                                        <% trainer = catet.trainer%>
                                        <% trainer.trainer_categories.each do |tra| %>
                                        <p><%= link_to tra.category.name, category_path(tra.category) %></p>
                                      <% end %>
                                    </div>
                                </div>
                                <div class="tras-middle">
                                    <p><%= catet.trainer.title %></p>
                                </div>
                                <div class="tras-bottom">
                            </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready

  
   if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
      return $('a[data-toggle="tab"]').on('shown', function(e) {
      return location.hash = $(e.target).attr('href').substr(1);
    });
  
  
// document ready  
});
</script>