<div class="container">
    <div class="row justify-content-center">
        <% @trainers.each do |trainer|%>
            <div class="trainer">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="tras-item">
                        <div class="tras-top">
                            <div class="tras-left">
                                <a href="/trainers/<%= trainer.id %>"><%= image_tag (trainer.image.url) %></a>
                            </div>
                            <div class="tras-right">
                                <h6><%= link_to trainer.name, trainer_path(trainer) %></h6>
                                <p id="star-ave<%= trainer.id %>"></p>
                                    <script>
                                    $('#star-ave<%= trainer.id %>').raty({
                                    size: 36,
                                    starOff:  '<%= asset_path('star-off.png') %>',
                                    starOn : '<%= asset_path('star-on.png') %>',
                                    starHalf: '<%= asset_path('star-half.png') %>',
                                    half: true,
                                    readOnly: true,
                                    score: <%= trainer.comments.average(:rate).to_f.round(1) %>,
                                    });
                                    </script>
                                <p>(口コミ<%= trainer.comments.count %>件)</p>
                                <% trainer.trainer_categories.each do |tra| %>
                                    <p><%= link_to tra.category.name, category_path(tra.category) %></p>
                                <% end %>
                            </div>
                        </div>
                        <div class="tras-middle">
                            <p><%= trainer.title %></p>
                        </div>
                        <div class="tras-bottom">
                    </div>
                    <div class="tras-like">
                            <% if current_user.already_liked?(trainer) %>
                                <%= link_to trainer_like_path(trainer, trainer), method: :delete, remote: :true do %>
                                <i class="fa fa-heart" aria-hidden="true" style="color: red;">
                                    <%= trainer.likes.count %> 
                                </i>
                                <% end %>
                            <% else %>
                                <%= link_to trainer_likes_path(trainer, trainer), method: :post, remote: :true do %>
                                <i class="fa fa-heart" aria-hidden="true" style="color: #C0C0C0;">
                                    <%= trainer.likes.count %> 
                                </i>
                                <% end %>
                            <% end %>
                    </div>
                    </div>
                </div>
            </div>
        <% end %>
        <%= paginate @trainers %>
    </div>
</div>