<div class="container">
    <aside class="tras-side">
        <div class="tras-ransack">
            <%= search_form_for @q do |f| %>
                <%= f.label :name, "キーワード" %>
                <%= f.search_field :name_or_title_or_content_or_categories_name_cont %>
                <%= f.label :sex %>
                <%= f.radio_button :sex_eq, '', {:checked => true} %>指定なし
                <%= f.radio_button :sex_eq, 0 %>男性
                <%= f.radio_button :sex_eq, 1 %>女性
                <%= f.label :districts_id_eq, "エリア" %>
                <%= f.collection_select :districts_id_eq, @districts, :id, :name, include_blank: true %></br>
                <%= f.label :categories_id_in, "カテゴリー" %>
                <%= f.collection_check_boxes :categories_id_in, @categories, :id, :name %></br>
                <%= f.label :price, '月会費' %>
                <%= f.number_field :price_gteq %>円以上〜
                <%= f.number_field :price_lt %>円未満
                <%= f.select( :sorts, { '並び替え': 'id desc', '料金の安い順': 'price asc', '料金の高い順': 'price desc', '古い順': 'updated_at asc', '新しい順': 'updated_at desc', '口コミの多い順': 'comment_count desc', 'いいね の多い順': 'likes_count desc'}) %>
                <%= f.submit "検索" %>
            <% end %>
        </div>
    </aside>

        <div class="row justify-content-center">
        <% if @trainers.empty? %>
            <p>検索結果 0件： 他のキーワードで検索してみよう！</p>
        <% elsif params[:q] %>
            <p>検索結果 <%= @trainers.total_count %>件</p>
            <%= render 'trainers/trainers-index' %>
        <% else %>
            <%= render 'trainers/trainers-index' %>
        <% end %>
        </div><!--row-->
    <%= paginate @trainers %>
</div><!--container-->