<div class="container">
    <div class="tra-wrapper">
        <div class="tra-profile">
            <div class="tra-top">
                <div class="tra-left">
                    <%= image_tag(@trainer.image.url) %>
                </div>
                <div class="tra-right">
                    <h3><%= @trainer.name %></h3>
                    <p>年齢：<%= @trainer.age %></p>
                    <p><%= @trainer.number %></p>
                </div> 
            </div>
            <div class="tra-middle">
                <h3>Profile</h3>
                <h5><%= @trainer.title %></h5>
                <div class="tra-content">
                    <h4>自己紹介・活動内容</h4>
                    <p><%= @trainer.content %></p>
                    <h4>経歴</h4>
                    <p><%= @trainer.profile %></p>
                    <h4>料金システム</h4>
                    <p><%= @trainer.fee %></p>
                </div>
            </div>
        </div>
    </div>
        <div class="comment-wrapper border-top mb-10">
  <p class="mt-5">コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br />
      <%= c.content %>
                <% if user_signed_in? && c.user == current_user %>
        <p><%= link_to 'Delete', gym_comment_path(@trainer, c), method: :delete %></p>
      <% end %>
          <div id="star-rate-<%= c.id %>"></div>
                <script>
                $('#star-rate-<%= c.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= c.rate %>,
                });
                </script>  

    </div>
    <br />
  <% end %>
  <% if user_signed_in? %>
    <%= form_with(model: [@trainer, @comment], local: true) do |f| %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>

 <div class="form-group" id="star">
              <%= f.label :rate,'評価' %>
              <%= f.hidden_field :rate, id: :comment_star %>
            </div>

                          <!-- 評価javascript -->
                          <script>
                          $('#star').raty({
                            size     : 36,
                            starOff:  '<%= asset_path('star-off.png') %>',
                            starOn : '<%= asset_path('star-on.png') %>',
                            starHalf: '<%= asset_path('star-half.png') %>',
                            scoreName: 'comment[rate]',
                            half: true,
                          });
                          </script>
    
      <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>